
<img *ngIf="doc_list.length == 0" class="social-header card-img maxh-250 solicialisto" src="/assets/img/social/header.jpg" style="position: fixed;filter: blur(20px);width: auto;left: 0;top: -50px;min-height: calc(100vh + 100px);opacity: 0.17;min-width: 100vw;"/>
<img *ngIf="doc_list.length > 0" class="social-header card-img maxh-250 solicialisto" src="https://admin-jointec.tecsup.edu.pe/{{doc_list[0].imagen}}" style="position: fixed;filter: blur(20px);width: auto;left: 0;top: -50px;min-height: calc(100vh + 100px);opacity: 0.45;min-width: 100vw;"/>
<div class="row">
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-md-4" *ngFor="let doc of doc_list">
        <div class="card">
          <div class="position-relative">
              <img alt="Thumbnail" src="https://admin-jointec.tecsup.edu.pe/{{doc.imagen}}" class="card-img-top">
          </div>
          <div class="card-body">
              <h4 class="text-center">{{doc.nombre}}</h4>
              <h5 class="text-center text-primary">{{doc.organizado_por}}</h5>
              <p class="text-center"><small>{{doc.fecha}}</small></p>
              <p>Hora: {{doc.hora}} horas</p>
              <p>{{doc.lugar}}</p>
          </div>
          <div class="card-footer text-center">
              <a class="btn btn-outline-primary" href="{{doc.enlace_de_evento}}" target="_blank">Inscribirse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
