<div class="card auth-card" style="overflow:hidden">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <a class="c-pointer">
          <span class="logo-single"></span>
        </a>
      </div>
      <div class="col-12 text-center">
        <div class="align-items-center mb-4 pb-5 ">


          <button class="login-with-google-btn" (click)="login()"> {{ 'user.login-button' | translate | uppercase }}</button>
        </div>
      </div>
    </div>
  </div>
<simple-notifications></simple-notifications>
